
<h1>Todo Events ! </h1>
<p>(Omino che caga)</p>

<!-- AS: per DEBUG -->
<p>JSON </p>
{{todoEvents | json}}


<table  class="table table-hover">
    <thead>
      <tr>
        <th><mat-icon class="icona-list">list</mat-icon>id</th>
        <th><mat-icon class="icona-list">event</mat-icon>UserID</th>
        <th><mat-icon class="icona-list">alarm</mat-icon>Titolo</th>
        <th><mat-icon class="icona-list">timer_off</mat-icon>Dettagli</th>
        <th></th>
      </tr>
    </thead>
  
    <tbody>
      <tr  *ngFor="let objTodo of todoEvents">
        <td >{{objTodo.id}}</td>
        <td >{{objTodo.userID}}</td>
        <td >{{objTodo.titolo}} </td>
        <td >{{objTodo.dettagli}} </td>
      </tr>
    </tbody>
  </table>

  <router-outlet></router-outlet>
  <app-snackbar></app-snackbar>