
<h1>Todo List</h1>

<!-- AS: per DEBUG -->
<p>JSON </p>
{{todoEvents | json}}
<p></p>


<table  class="table table-hover">
    <thead>
      <tr>
        <th><mat-icon class="icona-list">list</mat-icon>id</th>
        <th><mat-icon class="icona-list">event</mat-icon>UserID</th>
        <th><mat-icon class="icona-list">alarm</mat-icon>CausaleID</th>
        <th><mat-icon class="icona-list">timer_off</mat-icon>TicketID</th>
        <th><mat-icon class="icona-list">timer_off</mat-icon>Titolo</th>
        <th><mat-icon class="icona-list">timer_off</mat-icon>Dettagli</th>
        <th><mat-icon class="icona-list">timer_off</mat-icon>Dt</th>
        <th><mat-icon class="icona-list">timer_off</mat-icon>H_ini</th>
        <th></th>
      </tr>
    </thead>
  
    <tbody>
      <tr  *ngFor="let objTodo of todoEvents">
        <td >{{objTodo.id}}</td>
        <td >{{objTodo.userID}}</td>
        <td >{{objTodo.causaleID}}</td>
        <td >{{objTodo.ticketID}} </td>
        <td  class="min100">{{objTodo.titolo}} </td>
        <td  class="min100">{{objTodo.dettagli}} </td>
        <td  class="min100">{{objTodo.dt  | date: 'dd/MM/yyyy'}} </td>
        <td  class="min100">{{objTodo.h_Ini | date:'HH:mm'}} </td>
      </tr>
    </tbody>
  </table>

  <router-outlet></router-outlet>
  <app-snackbar></app-snackbar>