<div class="ticket-detail" >
    <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
        <input type="hidden" name="id" [value]="serviceDetails.formData.id">
        <input type="hidden" name="TicketID" [value]="serviceDetails.formData.ticketID | number">

        <!--************************** COMBO CAUSALE ************************** -->
        <div class="form-group">
            <div class="input-group" >
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <mat-icon>list</mat-icon>
                    </div>
                </div>
                <select class="form-control combo-causale" name="causaleID" placeholder="--Selezionare--" #Causale="ngModel" required
                    [(ngModel)]="serviceDetails.formData.causaleID"   
                    (ngModelChange)="CausaleID_toNumber()">

                    <option value=0>--Selezionare--</option>
                    <option *ngFor="let item of ticketCausali" value={{item.id}}>{{item.causaleDesc}}</option>
                </select>
            </div>
        </div>

        <!--**************************      DATA     ************************** -->
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <mat-icon (click)="d2.toggle()">event</mat-icon>
                    </div>
                </div>
                <input class="date-input" placeholder="dd/mm/yyyy" name="d2" #c2="ngModel"
                    [(ngModel)]="serviceDetails.formData.dt " 
                    ngbDatepicker #d2="ngbDatepicker">
            </div>
        </div>

        <!--**************************   ORA INIZIO  ************************** -->
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <mat-icon (click)="toggleSpinners()">alarm</mat-icon>
                    </div>
                </div>
                <!--
                <ngb-timepicker class="time-picker" name="h_Ini"
                    [ngModel]="{hour: convert2Int(serviceDetails.formData.h_Ini| date: 'HH') , minute: convert2Int(serviceDetails.formData.h_Ini| date: 'mm')}"
                    (ngModelChange)="fireOnChange($event)">
                    [spinners]="spinners" >
                </ngb-timepicker> -->
                <ngb-timepicker class="time-picker" name="h_Ini"
                    [(ngModel)]="serviceDetails.formData.h_Ini"
                    [spinners]="spinners" >
                </ngb-timepicker>
                
            </div>
        </div>
        <!--**************************   ORA FINE  ************************** -->
       
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <mat-icon (click)="toggleSpinners()">timer_off</mat-icon>
                    </div>
                </div>
                <ngb-timepicker class="time-picker" name="h_End"
                    [(ngModel)]="serviceDetails.formData.h_End"
                    [spinners]="spinners" >
                </ngb-timepicker>
            </div>
        </div>
    
        <!--**************************      NOTE     ************************** -->
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <mat-icon>note</mat-icon>
                </div>
            </div>
            <textarea name="Note" #Note="ngModel" [(ngModel)]="serviceDetails.formData.note"
                class="note-area form-control" placeholder="Note"></textarea>
        </div>
        <!--**************************    BOTTONI    ************************** -->
        <div class="input-group">
            <button class="btn btn-success btn-lg btn-block" [disabled]="form.invalid">
                <div class="row btn-title">
                    <div class="col-1">
                        <mat-icon>save_alt</mat-icon>
                    </div>
                    <div class="col-10">
                        Salva
                    </div>
                </div>
            </button>
        </div>
        <div class="input-group">
            <button class="btn btn-success btn-lg btn-block" (click)="resetForm(form)" [disabled]="form.invalid" >
                <div class="row btn-title">
                    <div class="col-1">
                        <mat-icon>playlist_add</mat-icon>
                    </div>
                    <div class="col-10">
                        Nuovo
                    </div>
                </div>
            </button>
        </div>
    </form>
</div>


<!-- 
*********INPUT DATA STILE MATERIAL**********    
<div class="form-group">
    <div class="input-group">
        <mat-form-field class="input-group-prepend" appearance="standard">
            <mat-label>Data</mat-label>
            <input matInput [matDatepicker]="picker" #Data="ngModel" [(ngModel)]="serviceDetails.formData.dt"
                name="dt" placeholder="Data" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
</div> -->