<div class="ticket-detail">
    <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">

        <input type="hidden" name="id" [value]="serviceDetails.formData.id">
        <!--************************** COMBO CAUSALE ************************** -->
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <mat-icon>list</mat-icon>
                    </div>
                </div>
                <select class="form-control combo-causale" name="causaleID" placeholder="Causale" #Causale="ngModel"
                    [(ngModel)]="serviceDetails.formData.causaleID" required placeholder="Selezionare causale...">
                    <option value="0">Selezionare causale...</option>
                    <option *ngFor="let item of ticketCausali" value="{{item.id}}">{{item.causaleDesc}}</option>
                </select>
            </div>
        </div>
        <!--**************************      DATA     ************************** -->
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <mat-icon (click)="d2.toggle()">event</mat-icon>
                    </div>
                </div>
                <input class="date-input" placeholder="dd/mm/yyyy" name="d2" #c2="ngModel"
                    [(ngModel)]="serviceDetails.formData.dt" ngbDatepicker #d2="ngbDatepicker">
            </div>
        </div>
        <!--**************************   ORA INIZIO  ************************** -->
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <mat-icon (click)="toggleSpinners()">
                            alarm</mat-icon>
                    </div>
                </div>
                <ngb-timepicker class="time-picker" name="h_Ini"
                    [ngModel]="{hour: convert2Int(serviceDetails.formData.h_Ini| date: 'HH') , minute: convert2Int(serviceDetails.formData.h_Ini| date: 'mm')}"
                    [spinners]="spinners" ></ngb-timepicker>
            </div>
        </div>
        <!--**************************   ORA FINE  ************************** -->
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <mat-icon (click)="toggleSpinners()">timer_off</mat-icon>
                    </div>
                </div>
                <ngb-timepicker class="time-picker" name="h_End"
                [ngModel]="{hour: convert2Int(serviceDetails.formData.h_End| date: 'HH') , minute: convert2Int(serviceDetails.formData.h_End| date: 'mm')}"
                [spinners]="spinners"></ngb-timepicker>
            </div>
        </div>
        <!--**************************   ORA INIZIO  Material ****************** -->
        <!-- <div class="input-group">
            <mat-form-field class="input-group-prepend" appearance="standard">
                <mat-label>Ora inizio</mat-label>
                <input matInput [ngxTimepicker]="h_Ini" [format]="24"
                    [value]="serviceDetails.formData.h_Ini| date: 'HH:mm'" class="form-control time-input"
                    placeholder="__:__" maxlength="5" minlength="5">

                <ngx-material-timepicker #h_Ini [defaultTime]="'08:00'"></ngx-material-timepicker>
                <mat-icon class="icona-griglia" matSuffix>timer</mat-icon>
            </mat-form-field>
        </div> -->
        <!--**************************    ORA FINE  Material  ************************** -->
        <!-- <div class="input-group">
            <mat-form-field class="input-group-prepend" appearance="standard">
                <mat-label>Ora Fine</mat-label>
                <input matInput [ngxTimepicker]="h_End" [format]="24"
                    [value]="serviceDetails.formData.h_End| date: 'HH:mm'" class="form-control time-input"
                    placeholder="__:__" maxlength="5" minlength="5">

                <ngx-material-timepicker #h_End></ngx-material-timepicker>
                <mat-icon class="icona-griglia" matSuffix>timer_off</mat-icon>
            </mat-form-field>
        </div> -->
        <!--**************************      NOTE     ************************** -->
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <mat-icon>note</mat-icon>
                </div>
            </div>
            <textarea name="Note" #Note="ngModel" [(ngModel)]="serviceDetails.formData.note"
                class="note-area form-control" placeholder="Note"></textarea>
        </div>
        <!--**************************    BOTTONI    ************************** -->
        <div class="input-group">
            <button class="btn btn-success btn-lg btn-block" [disabled]="form.invalid">
                <mat-icon>save_alt</mat-icon>
                Salva
            </button>
        </div>
        <div class="input-group">
            <button class="btn btn-success btn-lg btn-block" (click)="resetForm(form)" [disabled]="form.invalid">
                <mat-icon>playlist_add</mat-icon>
                Nuovo
            </button>
        </div>

        <div class="input-group">
            <button class="btn btn-success btn-lg btn-block"  [disabled]="form.invalid">
                refresh
            </button>
        </div>

    </form>
</div>


<!-- 
*********INPUT DATA STILE MATERIAL**********    
<div class="form-group">
    <div class="input-group">
        <mat-form-field class="input-group-prepend" appearance="standard">
            <mat-label>Data</mat-label>
            <input matInput [matDatepicker]="picker" #Data="ngModel" [(ngModel)]="serviceDetails.formData.dt"
                name="dt" placeholder="Data" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
</div> -->