    
<div class="ticket-detail-list"> 
  <div class="table-responsive">  
    <table  class="table table-hover">
    <!--  {{ticketDetails|json}} -->
      <thead>
        <tr>
          <th>ID</th> 
          <th>Causale</th>
          <th>Data</th>
          <th>Ora Inizio</th>
          <th>Ora Fine</th>
          <th>Note</th>
          <th></th>
        </tr>
      </thead>
      
      <tbody>
        <!-- AS: X NIK !!!!!!!!!   <tr *ngFor="let objTicketDetail of ticketDetails">   -->
        <tr *ngFor="let objTicketDetail of ticketDetailService.ticketList">            
          <td (click)="populateForm(objTicketDetail)">{{objTicketDetail.id}} </td>
          <td (click)="populateForm(objTicketDetail)">{{objTicketDetail.causale.causaleDesc}} </td>
          <td (click)="populateForm(objTicketDetail)">{{objTicketDetail.dt | date: 'dd/MM/yyyy'}} </td>
          <td (click)="populateForm(objTicketDetail)">{{objTicketDetail.h_Ini | date:'HH:mm'}} </td>
          <td (click)="populateForm(objTicketDetail)">{{objTicketDetail.h_End| date:'HH:mm'}} </td>
          <td (click)="populateForm(objTicketDetail)">{{objTicketDetail.note}} </td>
    
          <td>
              <mat-icon (click)="onDelete(objTicketDetail.id)" color="warn">delete</mat-icon>        
          </td>
        </tr>
      </tbody>  
    </table>
  </div>  
</div>  