<table class="table table-hover">
<!--  {{ticketDetails|json}} -->
     
      <tr >
        <td>ID</td> 
        <td>Causale</td>
        <td>Data</td>
        <td>Ora Inizio</td>
        <td>Ora Fine</td>
        <td>Note</td>
      </tr>

      <tr *ngFor="let ticketDetail of ticketDetails">   
        <td>{{ticketDetail.id}} </td>
        <td>{{ticketDetail.causale.causaleDesc}} </td>
        <td>{{ticketDetail.dt | date: 'dd/MM/yyyy'}} </td>
        <td>{{ticketDetail.h_Ini | date:'HH:mm'}} </td>
        <td>{{ticketDetail.h_End| date:'HH:mm'}} </td>
        <td>{{ticketDetail.note}} </td>
        <!--
      
            <td (click)="populateForm(objPaymentDetail)"> {{objPaymentDetail.CardOwnerName}}</td> 
            <td (click)="populateForm(objPaymentDetail)"> {{objPaymentDetail.CardNumber}}</td>
            <td (click)="populateForm(objPaymentDetail)"> {{objPaymentDetail.ExpirationDate}}</td>
            <td>
                <mat-icon (click)="onDelete(objPaymentDetail.PMid)">delete</mat-icon>        
            </td>
          -->
      </tr>
    </table>
    