<p>ticket-detail-list works!</p>

<table class="table table-hover">
       <!--
        <tr *ngFor="let obj of ticketDetailService.list">    
            <td (click)="populateForm(objPaymentDetail)"> {{objPaymentDetail.CardOwnerName}}</td> 
            <td (click)="populateForm(objPaymentDetail)"> {{objPaymentDetail.CardNumber}}</td>
            <td (click)="populateForm(objPaymentDetail)"> {{objPaymentDetail.ExpirationDate}}</td>
            <td>
                <mat-icon (click)="onDelete(objPaymentDetail.PMid)">delete</mat-icon>        
            </td>
        </tr>
    -->
    </table>
    