.ticket-card {
  max-width: 360px;
  margin-bottom: 40px;
  text-align: center;
  border-radius: 4px;
  padding: 20px 0;
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, .2), 0 2px 8px 0 rgba(0, 0, 0, .14), 0 4px 8px -1px rgba(0, 0, 0, .12);
}

.ticket-card.stato70 {
  background: white;
}

.ticket-card.stato80 {
  background: lightskyblue;
}

.ticket-card.stato90 {
  background: greenyellow;
}

.ticket-card .ticket-title {
  font-size: 24px;
  font-weight: bold;
}

.icona-mappa {
  width: 30px;
  background-color: transparent;
}

.container-icona-mappa {
  text-align: right;
  padding-right: 40px;
}

.ticket-tipo {
  /*margin-top: 15px;*/
  background: lightgrey;
  font-size: 14px;
  color: grey;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 2px 3px;
  display: inline;
}

.ticket-cliente {
  margin-bottom: 10px;
  margin-top: 10px;
}


.ticket-data {
  margin-bottom: 10px;
}


/* ----------------------------------------*/
.ticket-details {
  margin-bottom: 40px;
  text-align: center;

}

.ticket-detail {
  background-color: white;

  border-radius: 4px;
  padding: 20px 0;
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, .2), 0 2px 8px 0 rgba(0, 0, 0, .14), 0 4px 8px -1px rgba(0, 0, 0, .12);

  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
}


.ticket-detail-list {
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
  background-color: white;
  border-radius: 4px;
  padding: 20px 10px;
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, .2), 0 2px 8px 0 rgba(0, 0, 0, .14), 0 4px 8px -1px rgba(0, 0, 0, .12);
  min-height: 432px;
}


.ticket-button {
  margin-top: 20px;
  margin-left: 5px;
  height: 40px;
  font-size: 20px;
  background: #1a7ce7;
  color: white;
}

.topbutton-button {
  margin-top: 8px;
  margin-left: 3px;
  margin-bottom: 10px;
  padding-left: 10px !important;
  font-size: 14px;
  background: #1a7ce7;
  color: white;
}

.topbuttons-container{
  text-align: right;
  margin-right: 5px;
}


.input-group {
  margin-bottom: 10px;
}

.jumbotron {
  padding-top: 10px;
}

.IDtext {
  font-size: 16px;
}

.ora-inizio {
  margin-right: 10px;
}

.group-data{
  text-align: center;
}

.icona-griglia {
  color: rgb(100,100,100);
  margin-right: 10px;
}

.time-input{
  background-color: transparent;
}

.time-picker {
  border-style: solid;
  width: calc(100% - 50px);
  border-color: rgb(201, 201, 201);
  border-style: solid;
  border-width: 1px;
  border-radius: 0px 4px 4px 0px;
  padding-left: 5px;
}

button{
  padding-top: 0px!important;
}

.date-input{
  width: calc(100% - 50px);
  border-color: rgb(201, 201, 201);
  border-style: solid;
  border-width: 1px;
  border-radius: 0px 4px 4px 0px;
  text-align: left;
  padding-left: 15px;

}

.note-area {
  min-height: 60px;
  border: solid 1px !important;
  border-color: rgb(201, 201, 201) !important;
}




.details-title{
  margin-top:7px;
  
}
/* .input-group-text {
  padding-left:5px;
  padding-right: 5px;
} */

 
/* You can add global styles to this file, and also import other style files */
/*
input.ng-touched.ng-invalid{
  border-color: #dc3545;
}

input.ng-valid{
  border-color: #28a745;
}

.green-icon{
  color: #28a745;
}
.red-icon{
  color: #dc3545;
}

#toast-container > div {
  opacity:1;
}

table tr:hover{
  cursor: pointer;
} */


/*.btn .btn-link .ng-star-inserted"><span class="chevron ngb-tp-chevron bottom"></span><span class="sr-only">Decrement hours</span></button>*/
.btn-group-lg {
  padding: 0px!important;
}

.btn-title {
  margin-top: 5px !important;
}

.btn {
  height: 40px;
}


.inputmini {
  width: 40px;
  text-align: center;
}

.inputmidi {
  width: 100px;
  text-align: center;
}

.inputmaxi {
  width: 300px;
  text-align: center;
}

.center {
  text-align: center !important;
}



.row-cards {
  max-width: 500px;
  /*margin: auto;*/
  /*border: 1px solid rgb(201, 201, 201);*/
  border-radius: 4px;
}

.card1, .card2 {

  border: 1px solid grey;
  border-radius: 4px; 

}

.icona-list {
  font-size: 13px;
}

.accordion-header{
  margin-left: 5px;
  margin-right: 5px;
}