

/*******************    IMPOSTAZIONI pagina TICKET CARD    *******************/
.ticket-card {
  max-width: 360px;
  margin-bottom: 40px;
  text-align: center;
  border-radius: 4px;
  padding: 20px 0;
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, .2), 0 2px 8px 0 rgba(0, 0, 0, .14), 0 4px 8px -1px rgba(0, 0, 0, .12);
}

.ticket-card.stato70 {
  background: white;
}

.ticket-card.stato80 {
  background: lightskyblue;
}

.ticket-card.stato90 {
  background: greenyellow;
}

.ticket-card .ticket-title {
  font-size: 24px;
  font-weight: bold;
}

.icona-mappa {
  width: 30px;
  background-color: transparent;
}

.container-icona-mappa {
  text-align: right;
  padding-right: 40px;
}

.ticket-tipo {
  font-size: 14px;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 2px 3px;
  margin-left: 10px;
  font-weight: normal;
}

.ticket-tipoA {
  border: 1px solid red;
}

.ticket-tipoI {
  border: 1px solid rgb(43, 168, 226);
}

.ticket-cliente {
  margin-bottom: 10px;
  margin-top: 10px;
}

.ticket-data {
  margin-bottom: 10px;
}

.ticket-button {
  margin-top: 20px;
  margin-left: 5px;
  height: 40px;
  font-size: 20px;
  background: #1a7ce7;
  background: url('../../../assets/img/backgroundcell.png');
  background-size: 200px 100px;
  color: white;
}

/*******************    IMPOSTAZIONI pagina TICKET DETAILS    ****************/
/*   è la pagina "contenitore" di header/collapsible , detail e detail-list  */
.ticket-details {
  margin-bottom: 40px;
  text-align: center;

  /*font-family: Roboto, "Helvetica Neue", sans-serif;*/
  font-family: Titillium Web, sans-serif;
}

.topbutton-button {
  margin-top: 8px;
  margin-left: 3px;
  margin-bottom: 10px;
  padding-left: 10px !important;
  font-size: 14px;
  background: #1a7ce7;
  background: url('../../../assets/img/backgroundcell.png');
  background-size: 180px 100px;
  color: white;
}

.topbuttons-container{
  text-align: right;
  margin-right: 5px;
}

.details-title{
  margin-top:7px;
  font-size: 20px;
  font-weight: bold;
}



.accordion-header{
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.row-cards {
  max-width: 500px;
  border-radius: 4px;
}

.inputmini {
  width: 20%;
  text-align: center;
}

.inputmidi {
  width: 60%;
  text-align: center;
}

.inputmaxi {
  width: 90%;
  text-align: center;
}

.input100 {
  width: 100%;
  text-align: center;
}

.mytextright {
  text-align: right!important;
}

.mycard {
  border: 1px solid rgb(201, 201, 201);
  border-radius: 4px;
  padding: 8px;
}

/*******************    IMPOSTAZIONI pagina TICKET DETAIL    *****************/
/*   è il form sulla sinistra con i vari campi e pulsanti salva e nuovo      */
.ticket-detail {
  background-color: white;
  border-radius: 4px;
  padding: 20px 0;
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, .2), 0 2px 8px 0 rgba(0, 0, 0, .14), 0 4px 8px -1px rgba(0, 0, 0, .12);
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
}

.time-picker {
  border-style: solid;
  width: calc(100% - 50px);
  border-color: rgb(201, 201, 201);
  border-style: solid;
  border-width: 1px;
  border-radius: 0px 4px 4px 0px;
  padding-left: 5px;
}

.date-input{
  width: calc(100% - 50px);
  border-color: rgb(201, 201, 201);
  border-style: solid;
  border-width: 1px;
  border-radius: 0px 4px 4px 0px;
  text-align: left;
  padding-left: 15px;

}

.note-area {
  min-height: 60px;
  border: solid 1px !important;
  border-color: rgb(201, 201, 201) !important;
}

button{
  padding-top: 0px!important; /*utile per allineamento icone nei button*/
}

.btn-title {
  margin-top: 5px !important;
}

.btn {
  height: 40px;
}

/****************    IMPOSTAZIONI pagina TICKET DETAIL LIST   ****************/
/*                         è la tabella sulla destra                         */
.ticket-detail-list {
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
  background-color: white;
  border-radius: 4px;
  padding: 20px 10px;
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, .2), 0 2px 8px 0 rgba(0, 0, 0, .14), 0 4px 8px -1px rgba(0, 0, 0, .12);
  min-height: 432px;
}

.icona-list {
  font-size: 13px;
}


.input-group {
  margin-bottom: 10px;
}

.min100 {
  min-width: 100px;
}

.min110 {
  min-width: 110px;
}


