

<div class="calendar-container text-center">
    <full-calendar class="fullcalendar"
    [defaultView]="defaultView"
    [header]="header"
    [navLinks] = "navlinks"
    [locale]="lang"
    [plugins]="calendarPlugins"
    [weekends] = "calendarWeekends"
    [buttonText] = "buttonText"
    [defaultAllDayEventDuration] = "defaultAllDayEventDuration"
    [nowIndicator] ="nowIndicator"
    [weekLabel] ="weekLabel"

    [editable]="true"
    [events]="ticketEvents"
    (eventClick)="eventClick($event)"
    id="DOMcalendario"
    #DOMcalendario
    ></full-calendar>
</div>
