<!-- AS: per DEBUG
<p>JSON </p>
{{tickets | json}}
-->


<div class="row pr-2" style="width: 100%; ">
  <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-2 text-center">
    <mat-spinner class="nickspinner" diameter="30" *ngIf="loading"></mat-spinner>
    <app-ticket-card *ngFor="let ticket of tickets" [ticket]="ticket">
    </app-ticket-card>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
    <div class="home-calendar-container">
      <app-calendar [pagina]="'home'"></app-calendar>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
    <div class="home-todo-container">
      <app-todoevents-list></app-todoevents-list>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
<app-snackbar></app-snackbar>
