<!-- AS: Esempio controllo con evento e binded value 
per accedere alle variabili del ts si devono usare le parentesi quadre
per poter essere richiamato all'interno dell'html o dal ts il controllo deve avere un nome (preceduto da #)

vedi sul ts:
onKeyUp(newValue: string) {
    this.demoTicket.n_ticket = newValue;
 }
<input class="demo" (keyup)="onKeyUp(inputCtrlName.value)" [value]="demoTicket.n_ticket" #inputCtrlName>          
-->


<!-- AS: le due righe seguenti producono lo stesso risultato 
 src={{ticket.iconURL}}
 [src]="ticket.iconURL"

 con la direttiva *ngIf="ticket.iconURL", l'immagine viene mostrata solo se  ticket.iconURL non è null
 con la direttiva *ngIf="ticket" a livello di classe ticket-card, la div viene mostrata solo se l'oggetto "ticket" non è null
 con la direttiva [ngClass] si può assegnare la classe in modo dinamico facendo riferimento ad un metodo (Conditional Class)
 con la direttiva [ngStyle] si può assegnare la classe in modo dinamico facendo riferimento ad un metodo (Conditional Style)
        es: [ngStyle]="ticketStyles()"
-->

<!--
<p>JSON </p>
{{ticket.customer.indirizzo | json}} 
-->

<div style="margin: auto; margin-bottom: 20px;" class="ticket-card" *ngIf="ticket" [ngClass]="ticketClasses()">

    <div class="ticket-title">
        <div class="row">
            <div class="col-4">
                <div [ngSwitch]="ticket.tipoTicket" >
                    <div class="ticket-tipo" *ngSwitchCase="'A'" [ngClass]="ticketClassTipo()">
                        Assistenza
                    </div>
                    <div class="ticket-tipo" *ngSwitchCase="'I'" [ngClass]="ticketClassTipo()">
                        Installazione
                    </div>
                </div>
            </div>   
            <div class="col-4">
                {{ticket.n_Ticket}}
            </div>
            <div class="col-4 container-icona-mappa" *ngIf=ticket.customer.poi>
                <a href="{{'http://www.google.com/maps/place/' + ticket.customer.poi}}" target="_blank">
                    <img class="icona-mappa" src="../../../../assets/img/icona-mappa-maxi.png">
                </a>
            </div>
        </div>
    </div>

    <div class="ticket-data">
        Data: {{ticket.data1| date: 'dd/MM/yyyy'}}
    </div>


    <!-- <img width="300" alt="Logo" *ngIf="ticket.iconURL; else noImage" [src]="ticket.iconURL" > -->

    <ng-template #noImage>
        <p>No image is avaiable.</p>
    </ng-template>

    <div class="ticket-cliente">
        {{ticket.customer.ragsoc}}
        <br>
        {{ticket.customer.indirizzo}}
        <!-- {{ticket.cliente}} - {{ticket.ragsoc}} -->
    </div>

    <button mat-flat-button class="ticket-button" [routerLink]="['/ticket-details', ticket.id]">
        Apri Ticket
    </button>

</div>